.new-column-button{
    border: none;
    background: none;
}
.new-task-button{
    border: none;
    background: none;
}
.navigation{
    display: flex;
    flex-direction: row;
}
.heading{
    flex: 80%;
}
.content{
    
}
.tasklist{
    background: #f0f0fa;
}